body {
  background-color: azure;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: midnightblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: navy;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0px;
  margin: 5px;
}
h3 {
  margin: 5px;
}

.formulario {
  margin: 5px;
}

.areatxt2 {
  margin: 5px;
}
p {
  margin: 5px;
  text-align: justify;
}
.logo {
  display: flex;
  justify-content: center;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(175,238,238,1) 12%, rgba(0,212,255,1) 100%);
}
.elLogo {
  display: flex;
  display: 5px;
  height: 100px;
  align-items: center;
}

.indice {
  list-style: none;
  font-style: italic;
  text-align: left;
  height: 10px;
}
.indice :hover {
  background-color: #afeeee;
  font-weight: bold;
}
.indice li {
  display: inline;
  margin: 10px;
  padding: 10px;
}

.imagenesform1 {
  width: 380px;
  height: 480px;
  margin: 10px;
  display: inline-block;
  margin: 10px;
}


.imagenesform1 :hover{
  transition: transform 3s ease-in-out 5ms;
  transform: translate(30px 40px);
  
}

.imagenesform2 {
  width: 380px;
  height: 380px;
  display: inline-block;
  margin: 10px;
}

.imagenesform3 {
  width: 280px;
  height: 180px;
  display: inline-block;
  margin: 10px;
}
.imagen1 {
  width: 100%; /* Ajusta el ancho de la imagen al tamaño del div */
  height: 100%; /* Ajusta la altura de la imagen al tamaño del div */
  background-image: url(images/GomitasPerro5.jpeg); /* Reemplaza "tu_ruta_de_la_imagen.jpg" por la ruta de tu imagen */
  background-position: center; /* Alinea la imagen al centro del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  
}
.imagen2 {
  width: 100%;
  height: 100%;
  background-image: url(images/Horus\ 5.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen3 {
  width: 100%;
  height: 100%;
  background-image: url(images/Snack3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen4 {
  width: 100%;
  height: 100%;
  background-image: url(./images/GomitasPerro.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen5 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Horus\ 1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen6 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Snack2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  font-style: italic;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(175,238,238,1) 12%, rgba(0,212,255,1) 100%);
}
.redesSociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.faceInsta {
  display: flex;
  letter-spacing: 5px;
  word-spacing: 0.3px;
}

.wpp {
  display: flex;
  letter-spacing: 0.3px;
  position: fixed;
  bottom: 25px;
  right: 10px;
}

.imagen7 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Perro2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen8 {
  width: 100%;
  height: 100%;
  background-image: url(./images/logo-wong.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen9 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Metro_2013.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen10 {
  width: 100%;
  height: 100%;
  background-image: url(./images/Vivanda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen11 {
  width: 100%;
  height: 100%;
  background-image: url(./images/PedidosYa-y-Rappi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.veterinaria {
  width: 580px;
  height: 280px;
}
.kitRegalo {
  width: 280px;
  height: 280px;
}
.snack {
  width: 280px;
  height: 280px;
}


.box h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: navy;
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
}
.box h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: navy;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
}

.ganadores {
  display: grid;
  border: 1.5px solid black;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box1 box2 box3"
    "box4 box7 box8"
    "box4 box9 box10"
    "box5 box11 box12"
    "box6 box13 box14";
  width: 80vw;
  height: 80vh;
  margin: left;
}
.box {
  border: 1px solid black;
  background-color: lightblue;
  padding-left: 10px;
}
.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}
.box8 {
  grid-area: box8;
}
.box9 {
  grid-area: box9;
}
.box10 {
  grid-area: box10;
}
.box11 {
  grid-area: box11;
}
.box12 {
  grid-area: box12;
}
.box13 {
  grid-area: box13;
}
.box14 {
  grid-area: box14;
}

form input[type="text"] {
  outline: black solid 1px;
}

form input[type="text"]:focus {
  outline: 1px solid navy;
}
form input[type="number"] {
  outline: black solid 1px;
}

form input[type="number"]:focus {
  outline: 1px solid navy;
}
textarea[name="areatxt"]:focus {
  outline: 1px solid navy;
}

::placeholder {
  font-style: italic;
  font-weight: lighter;
}
.row img {
  height: 480px;
  margin: 10px;
}

/*Para movil*/

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .elLogo {
    height: 100px;
    margin-left: 10px;
    align-items: center;
  }
  .indice {
    font-size: 1rem;
    height: 20px;
    text-align: center;
  }
  .indice li {
    display: inline;
    padding: 0.1px;
  }
  .imagenesform1 {
    width: 280px;
    height: 280px;
  }
  .imagenesform2 {
    width: 280px;
    height: 180px;
  }
  .veterinaria {
    width: 380px;
    height: 180px;
  }

  footer {
    .faceInsta {
      display: none;
    }
  }

}
/*Para tablet*/

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
.indice {
  font-size: 1rem;
  height: 20px;
  text-align: center;
}
indice li {
  display: inline;
  padding: 0.1px;
}

/*Desktop*/
@media screen and (min-width: 1025px) {
  .indice {
    font-size: 1rem;
    height: 20px;
    text-align: left;
  }
}
