@import '../utilities/variables';

.indice {
    list-style: none;
    font-style: italic;
    text-align: left;
    height: 10px;

    .indice :hover {
        background-color: turquoise;
        font-weight: bold;
      }

      li {
        display: inline;
        margin: 10px;
        padding: 10px;
      }
  }

  
  